body{
    padding: 0px;
    margin: 0px;
    background: black linear-gradient(black,rgb(14, 81, 133));
    height: 1200px;
}
/* Navigation bar  */
.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 60px;
    width: 100%;
    opacity: 0.25;
    z-index: -1;
}
#logo img{
    height: 40px;
    position: absolute;
    width: 78px;
    left: 70px;
    top: 10px;
}
#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    left: 360px;    
}

#menu li a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2px 20px;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
#menu li a:hover{
    color: black;
    background-color: aliceblue;
    animation-name: onhover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes onhover {
    from{
        border-color: white;
        border-radius: 0px;
    }
    to{
        background-color: aliceblue;
        color: black;
        border-radius: 50px;
    }
}

#searchbox{
    position: absolute;
    right: 25px;
    top: 15px;
    
}
#searchbox img{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 30px;
    bottom: -40px;
}

/* Section image  */
.animationofIIC{
    display: flex;
    flex-direction: column;
}
.animationofIIC h1{
    font-size: 2.9rem;
    /* font-family: 'Play', sans-serif; */
    font-family: 'Vollkorn SC', serif;
    color: white;
    position: absolute;
    right: 150px;
    top: 160px;
    text-align: right;
}

/* Section about us  */
.about{
    border: 1px solid white;
    display: grid;
    position: absolute;
    top: 600px;
    color: white;
    position: relative;
    width: 90%;
    height: 20rem;
    left: 70px;
}
/*.about::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 20rem;
    width: 100%;
    opacity: 0.10;
    z-index: -1;
}*/

#about_IIC{
    height: 15rem;
    width: 45%;
    /* border: 1px solid red; */
    position: relative;
    left: 120px;
    top: 50px;
    
}
#image{
    /*border: 1px solid blue;*/
    position: absolute;
    top: 50px;
    right: 100px;
    width: 350px;
    height: 15rem;
}
#image img{
    height: 15rem;
    width: 350px;
}
#about_heading{
    font-size: 2rem;
    position: absolute;
    left: 40px;
}
#para_about{
    position: absolute;
    top: 70px;
    left: 40px;
    right: 70px;
}

footer{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1200px;
}
footer a img{
    height: 25px;
    width: 25px;
    margin: 2px 10px;
}
#twit img{
    filter: invert(100%);
}
#link img{
    width: 100px;
    margin: 2px 10px;
    filter: invert(100%);
}

/* utility classes */
.headings{
    font-size: 2rem;
    font-family: 'Vollkorn SC', serif;
}

